/* 태그 연산자 */
/* 전체 폰트 종류 & 크기 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.85rem;
}
h1 {
    font-size: 2em;
    /* 굵게 & 밑줄 */
    font-weight: bold;
    text-decoration: underline;
    /* 아래 위 여백 */
    margin-block-start: 0.67rem;
    margin-block-end: 0.67em;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
b {
    font-weight: bold;
}
small {
    font-size: smaller;
}
body > footer {
    height: 60px;
    /* 배경색 설정 */
    background-color: gray;
    /* 폰트 색 설정 & 가운데 정렬 */
    color: white;
    text-align: center;
}
/* id 연산자 */
#home {
    /* 배경 이미지 + 색상 섞기 */
    /* rgba : rgb에 투명도를 더함 */
    background: rgba(0, 0, 0, 0.7)
        url(https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536_1280.jpg)
        center / cover no-repeat fixed;
    background-blend-mode: multiply;
    color: white;
}
/* 링크 태그 꾸미기 제거 */
#home a {
    color: white;
    text-decoration: none;
}
#home a:visited {
    color: white;
    text-decoration: none;
}
/* 리스트 메뉴 */
#home ul {
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 1rem;
    text-align: center;
}
/* 웰컴 메시지 */
#home header {
    padding: 1rem;
    font-size: 2.5em;
    text-align: center;
}
#about {
    background-color: rgba(244, 224, 77, 0.5);
}
#skills {
    background-color: rgba(242, 237, 111, 0.5);
}
#skills img {
    width: 25%;
    min-width: 40px;
}
#project {
    background-color: rgba(206, 227, 151, 0.5);
}
#project figure {
    width: 100%;
    max-width: 240px;
    padding: 1rem;
    box-sizing: border-box;
}
#project img {
    border-radius: 1rem;
    width: 100%;
}
#contact {
    background-color: rgba(141, 177, 171, 0.5);
}
#contact img {
    width: 160px;
    margin: 1rem;
}
/* class 연산자 */
/* 모바일에도 대응할 수 있도록 크기 설정 */
.container {
    /* 최대 설정 (320px~480px) */
    max-width: 480px;
    /* 가운데 정렬 */
    margin: auto;
    /* 요소 내부 여백 */
    padding: 1rem;
}
/* 컨텐츠를 담는 카드 모양의 요소 */
.card {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1rem;
    padding: 1rem;
    /* 외곽선 설정 */
    border: 1px solid grey;
    /* 원형으로 깎기 */
    border-radius: 1rem;
}